@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.3s ease; */
}
:root {
  --main-color:     #00ffff;
  --second-color:   #a759ff;
  --third-color:    #458cf0;
  --hoover-btn: var(--main-color);
  --main-bg-dark:   #1a1b54;
  --second-bg-dark: #0b0437;
  --third-bg-dark:    #242568;
  --forth-bg-dark:  #0f0f57;
  --white-color:    #ffffff;
  --dark-color:     #202020;
  --organge-color:  #f1c40f;
  --top-blend-D:    #fb00ffa1 ;
  --bottomb-lend-D: #0b0f2200 ;
  --bottom-home-D:  #1a1b54b6;
  --title-color:    #ffffff;
  --nav-links:      #00ffff;
}
body {
  background-color: var(--main-bg-dark);
  font-family: "Montserrat", sans-serif;
}
.title-blue {
  color: var(--main-color);
}
.title-purple {
  color: var(--second-color);
}
.title-light {
  color: var(--dark-bg-color);
}
.section-title {
  text-align: center;
  color: var(--white-color); 
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* ------------Navar------------  */
.navbar {
  padding: 20px 0;
  background: var(--second-bg-dark);
  z-index: 100;
  /* position: fixed; */
  width: 100%;
}
.navbar.light {
  background: none;
}
.navbar-nav {
  cursor: pointer;
  text-align: right;
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  color: var(--main-color);
}
.nav-link:hover {
  /* color: #a759ff; */
  color: var(--white-color);
  transition: all 0.3s ease;
}

.navbar.light .nav-link{
  color: var(--white-color);
}
.navbar.light .nav-link:hover{
  color: var(--main-color);
  transition: all 0.3s ease;
}

.logo {
  width: 130px;
  max-width: 130px;
}

.svg{
  pointer-events: none;
  z-index: -90;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 0;
  background: var(--white-color);
}
.svg svg {
  width: 100%;
  height: 50%;
}

/* Switch  button  */
.switch-container{
  position: fixed;
  right: 20px;
  top: 100px;
}
.switch-mode {
  border-radius: 50px;
  background: var(--second-color);
  width: 30px;
  height: 65px;
  border: var(--main-bg-dark) solid 1px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px 1px;
  transition: all 0.4s ease;
}
.switch-mode.active {
  background: var(--organge-color);
  transition: all 0.4s ease;
}

.switch-mode::after {
  content: "";
  display: block;
  height: 32px;
  width: 32px;
  background: var(--white-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: unset;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 1px;
  transition: all 0.4s ease;
}

.switch-mode.active::after {
  transform: translateX(-50%);
  bottom: unset;
  top:0;
  transition: all 0.4s ease;
}
.switch-mode span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  vertical-align: middle;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  line-height: 30px;
  background: none;
  transition: all 0.5 ease;
}

/* ------------ Home ------------ */
#home {
  height: 95vh; 
}
#canvas-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 1;
  transition: all 1s ease;
}
#canvas-home.active .light{
  opacity: 0;
}
.mix-blend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  /* fallback for old browsers */
  background: var(--bottomb-lend-D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top,var(--bottomb-lend-D),var(--bottomb-lend-D));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, var(--bottomb-lend-D), var(--top-blend-D));

  mix-blend-mode: multiply;
  display: unset;
}
.dergree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  /* fallback for old browsers */
  background: #1a1b54;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient( to top,var(--bottom-home-D),rgba(255, 255, 255, 0));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top,var(--bottom-home-D) , rgba(255, 255, 255, 0));
}
.home-title {
  position: relative;
  transform: translateY(50%);
}
.home-title h1 {
  color: var(--title-color);
  font-size: 65px;
  font-weight: 300;
}
.home-title h2 {
  color: var(--title-color);
  font-size:70px;
  font-weight: 600;
}
.home-text {
  margin-top: 30px;
  width: 60%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 30px;
  border-bottom: #a759ff solid 1px;
}
.home-button {
  position: relative;
  transform: translateY(50%);
}


.btn-messagge {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 300;
  border: solid 1px var(--main-color);
  padding: 8px 25px;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.3s ease;
}
.btn-messagge:hover {
  background: var(--main-color);
  color: #0c1024;
}
.btn-messagge.light{
  background-color: var(--third-color);
  color: #ffffff;
  border: solid 1px var(--third-color);
  transition: all 0.3s ease;
}
.btn-messagge.light:hover {
  background: #28377d;
  color: var(--white-color);
  order: solid 1px var(--third-color);
}
/* ------------Modal Message------------- */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}
.show-modal-container {
  pointer-events: inherit;
  visibility: inherit;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.modal {
  width: 40%;
  height: auto;
  padding: 30px;
  border-radius: 15px;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  transform: translateY(-150%);
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease;
}
.show-modal {
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.3s ease;
}

.modal-title {
  font-weight: 700;
  font-size: 25px;
  color: #0b0923;
  text-align: left;
}
.close-modal-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #0b0923;
  text-align: right;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.close-modal-btn:hover {
  transition: all 0.2s ease;
  color: #a759ff;
}
.form-input {
  margin-bottom: 15px;
}
.form-input label {
  color: #0b0923;
  font-weight: 600;
  font-size: 20px;
  padding-right: 10px;
  width: 30%;
}
.form-input input {
  margin: 0;
  outline: none;
  padding: 0 10px;
  height: 35px;
  width: 60%;
  border: #999999 solid 1px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #0b0923;
  background-clip: padding-box;
  appearance: none;
  width: 70%;
}
.form-input textarea {
  display: block;
  outline: none;
  margin-top: 15px;
  padding: 10px;
  height: auto;
  width: 100%;
  border: #999999 solid 1px;
  border-radius: 3px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #0b0923;
  background-clip: padding-box;
  appearance: none;
}
.input-help {
  margin-top: 5px;
  font-size: 14px;
  color: #999999;
}
.send-message-btn {
  background: #a759ff;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border: solid 1px #a759ff;
  padding: 8px 25px;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.2s ease;
}
.send-message-btn:hover {
  background: #0b0923;
  border: solid 1px #0b0923;
  transition: all 0.2s ease;
}

/* ------------About------------- */
#about {
  margin-top: 50px;
}
.presentation-card {
  background: var(--second-bg-dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  border-radius: 15px;
  padding: 25px 35px;
  margin: 50px 0px;
  box-shadow: rgba(6, 9, 24, 0.4) 0px 5px 10px -1px;
}
.about-subtitle {
  width: 80%;
  display: inline-block;
  color: var(--title-color);
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 15px;
  border-bottom: var(--main-color) 1px solid;
  margin-bottom: 20px;
  
}

.about-text {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}
.hobbies-row {
  margin: 20px 0;
  background: #151a33;
  z-index: -1;
  border-radius: 15px;
  /* border: #a759ff solid 0.1px; */
  box-shadow: #070a16 5px -5px 3px -4px;
}
.hobbies {
  margin: 0 auto;
  position: relative;
}
.hobbies img {
  background: #151a33;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
}
.hobbies .leyend {
  position: absolute;
  left: 50%;
  top: -25%;
  transform: translateX(-50%);
  text-align: center;
  padding: 5px;
  width: 150%;
  border-radius: 12px;
  background-color: #ffffff;
  color: #0b0923;
  font-size: 12px;
  transition: all 0.2s ease;
  opacity: 0;
}

.hobbies:hover .leyend {
  opacity: 1;
  top: -45%;
  transition: all 0.3s ease;
}

#study {
  margin-top: 50px;
}
.row-study {
  margin-bottom: 30px;
  padding: 30px;
}

.card {
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 12px;
  background: var(--third-bg-dark);
  height: 90%;
  box-shadow: rgba(6, 9, 24, 0.4) 0px 5px 10px -1px;

}
.card-title {
  color: var(--white-color);
  text-align: center;
  margin-bottom: 10px;
}
.card-text {
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
}
.study-state {
  color: var(--white-color);
  margin: 15px 0;
  text-align: center;
  font-weight: 500;
}
.img-card {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.img-card img {
  margin: 0 auto;
}
