@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0c1024;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}
.title-blue{
  color: #00ffff;
}
.title-purple{
  color: rgb(81, 74, 157);
  color: rgb(67, 23, 92);
}
.section-title{
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}
.title-dark{
  color: #0c1024;
}


.nav-link {
  color: #00ffff;
}
.nav-link:hover {
  /* color: #a759ff; */
  color: #ffffff;
  transition: all 0.3s ease;
}
.navbar {
  
  box-shadow: rgba(6, 9, 24, 0.4) 0px 10px 5px -3px;
  background: #0c1024;
}
.logo {
  width: 130px;
  max-width: 130px;
}
#home {
  min-height: 100vh;
  overflow: hidden;
}
#canvas-home{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.home-title {
  width: 50%;
  bottom: 50%;
  transform: translateY(30%);
}
.home-title h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
}
.home-title h2 {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 600;
}
.home-text {
  margin-top: 30px;
  width: 70%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 30px;
  border-bottom: #a759ff solid 2px;
}
.home-title a {
  background: none;
  text-align: center;
  text-decoration: none;
  color: #00ffff;
  font-size: 20px;
  font-weight: 400;
  border: solid 1px #00ffff;
  padding: 8px 25px;
  border-radius: 50px;
  display: inline-block;
  margin-top: 10px;
  transition: all 0.3s ease;
}
.home-title a:hover {
  background: #00ffff;
  color: #0c1024;
}

.presentation-card {
  /* fallback for old browsers */
  background: #24c6dc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #514a9d, #24c6dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #514a9d, #24c6dc);
  border-radius: 15px;
  padding: 25px 35px;
  margin-bottom: 20px;
  box-shadow: #050711 -10px -5px 20px -3px;
}
.about-subtitle{
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.about-text{
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 300;
  text-align: center;
}
