@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
body {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-navbar{
    box-shadow: rgba(0, 0, 51,.3) 0px 5px 5px -4px ;
}
.bg-ligt-purple {
  background: #2a337b;
}
.container-home {
  margin: 0 3%;
}
.container-home .row {
  height: 90vh;
}


.home-title {
  padding-top: 70px;
  font-size: 150px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #000033;
}
.home-subtitle {
  font-size: 180px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #dd5190;
  z-index: 1;
}

.container-img {
  width: 110%;
  right: 0;
  bottom: 0;
}
.container-img img {
  width: 90%;
  z-index: -10;
}


.btn-contact {
  position: absolute;
  bottom: 10%;
}
.btn-contact a {
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  background: #2a337b;
  padding: 25px 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.btn-contact a:hover {
  transition: all 0.3s ease;
  background: #000033;
}


.home-navbar-item {
  font-weight: 300;
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.home-navbar-item:hover {
  transition: all 0.3s ease;
  color: #00ccff;
}

/* -- ---------------- [About me]  ---------------- */
#about{
  background: #000033;
}

.about-title-withe, .about-title-pink{
  font-family: "Comfortaa", cursive;
  font-size: 70px;
  display: inline-block;
}
.about-title-withe{
  padding-right: 25px;
  color: #FFFFFF;
}

.about-title-pink{
  color: #00ccff;
}
.about-img{
  width: 100%;
  overflow: hidden;
}

.about-img img{
  width: 70%;
  /* padding-bottom: 100px; */
}

.profile-img{
 width: 100%;  
}
.profile-img img{
  width: 55%;
  clip-path: circle();
}
.about-text{
  
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  font-weight: lighter;
  color: #FFFFFF;
}

/* `xxxl` applies to x-large devices (large desktops, less than 1700px) */
@media (max-width: 1699.98px) {
  .home-title {
    padding-top: 70px;
    font-size: 130px;
  }
  .home-subtitle {
    font-size: 150px;
  }
  .btn-contact a {
    font-size: 30px;

    padding: 25px 30px;
  }
  .container-img {
    width: 120%;
  }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .home-title {
    padding-top: 70px;
    font-size: 80px;
    font-weight: 500;
  }
  .home-subtitle {
    font-size: 100px;
  }
  .btn-contact a {
    font-weight: lighter;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 5px;
  }
  .container-img {
    width: 100%;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .home-title {
    padding-top: 70px;
    font-size: 90px;
  }
  .home-subtitle {
    font-size: 110px;
  }
  .container-img {
    width: 110%;
  }
  .btn-contact a {
    font-size: 25px;
    padding: 15px 20px;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .home-col {
    position: inherit;
  }
  .container-home .row {
    height: auto;
  }

  .home-title {
    text-align: center;
    padding-top: 20px;
    font-size: 55px;
  }
  .home-subtitle {
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
  }

  .container-img {
    margin: 0 auto;
    position: inherit;
    padding: 30px 0;
    width: 50%;
  }
  .btn-contact {
    text-align: center;
    position: inherit;
  }
  .btn-contact a {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .container-img {
        
        width: 80%;
      }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
